<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="https://ferri.amy.mov/admin/">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    {%~ block styles ~%} {% endblock ~%}
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss-preflight@1.0.1/preflight.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>
  <body>
        {%~ block content %}{% endblock ~%}
    </body>
</html>
